/env
.env
**/__pycache__/
local.py
celerybeat-schedule
log.log
/media/
/venv/

# Venv
env/
venv/
env_back/

# Переходы от PyCharm
.idea/

# Переходы от VSCode
.vscode/

# Местные настройки Python
*.pyc
__pycache__/